<div id="map"></div>
<section class="search-holder">
  <article class="searcher yui3-g">
    <div class="yui3-u-2-3 yui3-u-s-1">
      <div class="city-search">
        <input type="text" class="js-movie-search" placeholder="Find Movies">
        <a class="search-button icon-search" href="#"></a>
        <div class="city-list">
          <div class="movie-list">
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
<section class="search-holder detail-holder">
  <article class="searcher yui3-g">
    <div class="yui3-u-2-3 yui3-u-s-1">
      <div class="movie-details"></div>
    </div>
  </article>
</section>